<div th:fragment="authorCard(name)" class="card" style="width: 18rem;">
  <img src="https://e1.pxfuel.com/desktop-wallpaper/148/668/desktop-wallpaper-iphone-cute-cute-patterns-pinterest-among-us-kawaii.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title" th:text="${name}"></h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>